* {
  padding: 0;
  margin: 0;
}

:root {
  --bg: rgba(255, 255, 255, 0.2);
  --glass-border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 24px;
  background-size: cover;
}


.box {
  width: 100%;
  text-align: center;
  background-color: var(--bg);
  padding-inline: 24px;
  padding-block: 32px;
  border-radius: 10px;
  border: var(--glass-border);
}

.box-header {
  padding-bottom: 30px;
  font-size: 22px;
  color: #fff;
}

.c-input {
  background-color: var(--bg);
  height: 40px;
  display: block;
  width: 80%;
  margin-bottom: 16px;
  margin-inline: auto;
  padding-left: 16px;
  border: var(--glass-border);
  border-radius: 100px;
}

.c-input::placeholder {
  font-size: 17px;
}

.c-input:focus {
  outline: none;
  border: 1px solid violet;
}

.c-btn {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  height: 40px;
  width: 160px;
  border: var(--glass-border);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-bottom: 32px;
  border-radius: 100px;
}

.c-btn:hover {
  background-color: violet;
  color: #fff;
 
}

hr {
  border: var(--glass-border);
}

.list {
  list-style: none;
  width: 100%;
  margin-top: 40px;
}

.list li {
  padding: 10px;
  background-color: var(--bg);
  border: var(--glass-border);
  display: flex;
  gap: 10px;
  color: #525252;
  align-items: center;
}

.close {
  background-color: orangered;
  color: #fff;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
}

.close:hover {
  background-color: red;
}

@media screen and (min-width: 768px) {
  .box {
    width: 540px;
  }
}